*{
    margin: 0;
    padding: 0;
}

.jumbotron{
    width: 60%;
    padding: 2rem 2rem;
}

h1{
    text-align: center;
}

@media screen and (max-width:1060px) {
    div.card-group {
        display: flex !important;
        flex-direction: column !important;
    }
    .jumbotron {
        width: 90%;
    }
}

#profile_img {
    height: auto;
    width: 400px;
    max-width: 100%;
    border-radius: 208px;
}

form{
    width: 60%;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
}